IETT_SOAP_BASE=https://api.ibb.gov.tr/iett
IETT_REST_BASE=https://iett.istanbul
ARAC_BASE=https://arac.iett.gov.tr/api
TRAFIK_BASE=https://trafik.ibb.gov.tr
OSRM_BASE=https://router.project-osrm.org
CACHE_TTL_FLEET=15
CACHE_TTL_ARRIVALS=20
CACHE_TTL_STOPS=86400
CACHE_TTL_SCHEDULE=3600
CACHE_TTL_ANNOUNCEMENTS=300
CACHE_TTL_TRAFFIC=30
CACHE_TTL_SEARCH=300
FLEET_CACHE_MAX_AGE=900
FLEET_MANUAL_REFRESH_COOLDOWN=10
LOG_LEVEL=info
ENABLE_OUTGOING_TRACE=false
PORT=8000

# ntcapi.iett.istanbul — private IETT API (Mobiett Reverse Engineering)
NTCAPI_CLIENT_ID=pLwqtobYHTBshBWRrEZdSWsngOywQvHa
NTCAPI_CLIENT_SECRET=JERLUJgaZSygMTqoCtrhrVnvqeVGGVznktlwuOfHqmQTzjnC
NTCAPI_SCOPE=VLCn2qErUdrr1Ehg0yxWObMW9krFb7RC service
NTCAPI_YBS_USERNAME=netuce
NTCAPI_YBS_PASSWORD=n1!t8c7M1
