IETT_SOAP_BASE=https://api.ibb.gov.tr/iett
IETT_REST_BASE=https://iett.istanbul
TRAFIK_BASE=https://trafik.ibb.gov.tr
OSRM_BASE=https://router.project-osrm.org
CACHE_TTL_FLEET=15
CACHE_TTL_ARRIVALS=20
CACHE_TTL_STOPS=86400
CACHE_TTL_SCHEDULE=3600
CACHE_TTL_ANNOUNCEMENTS=300
CACHE_TTL_TRAFFIC=30
CACHE_TTL_SEARCH=300
LOG_LEVEL=info
PORT=8000
